<template>
  <div class="login">
    <div class="login__form k-card">
      <form class="k-form" @submit="handleSubmit">
        <legend class="login__legend"> Log in</legend>
        <fieldset class="login__fieldset">
          <div>
            <k-input
              :name="'email'"
              :type="'email'"
              class="login__input"
              :required="true"
              :validity-styles="false"
              label="Email address"
              validation-message="Please provide a valid email address"
              v-model.trim="email"
            />
          </div>
          <div>
            <k-input
              :name="'password'"
              type="password"
              class="login__input"
              :label="'Password'"
              :required="true"
              :validity-styles="false"
              v-model.trim="password"
            />
          </div>
        </fieldset>
        <k-button 
          :disabled="!email || !password" 
          type="submit" 
          class="k-button login__button k-primary"
        >
          SUBMIT
        </k-button>
      </form>
    </div>
    <kendo-notification
      class="login__notification"
      ref="popupNotification"
    />
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data () {
    return {
      email: '',
      password: '',
    }
  },
  mounted () {
    this.popupNotificationWidget = this.$refs.popupNotification.kendoWidget();
  },
  methods: {
    handleSubmit (event) {
      event.preventDefault();
      axios.post('https://dogz.studio/api/login', {
          email: this.email,
          password: this.password
        })
        .then(res => {
          this.showPopupNotification(res.data.message, 'success')
          this.token = res.data.token
          this.email = ''
          this.password = ''
        })          
        .catch(error => this.showPopupNotification(error, 'error'))
    },
    showPopupNotification (msg, type) {
      this.popupNotificationWidget.show(msg, type);
    }
  }
}
</script>

<style>
  .login {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login__form {
    background-color:#f7f7f7;
    border-radius: 15px;
    padding: 15px;
  }
  @media (min-width: 991px) {
    .login__form {
      min-width: 500px;
    }
  }
  .login__legend {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    margin: 10px;
  }
  .login__fieldset {
    border: none;
  }
  .login__input {
    width: 100%;
  }
  .login__button {
    margin: 10px;
  }
</style>
